@import "../../../Utilities";

.login-form {
  max-width: 50rem;
  margin: auto;

  input {
    font-size: 1.5rem;
    padding: 1.6rem 1rem;
    margin: 1rem 0;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .login-button {
    margin-top: 1.5rem;
  }

  .forgot-password-text {
    opacity: 0.5;
    padding-top: 1rem;
    font-weight: 300;
    text-align: left;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
