@import "../../../Utilities";

.login-form {
  max-width: 50rem;
  margin: 2rem 0;

  .login-button {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgot-password-text {
    opacity: 0.5;
    padding-top: 1rem;
    font-weight: 300;
    text-align: left;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}
