@import "../../Utilities";

.button-reuse {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  height: 10rem;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: $color-text-white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
  transition-property: box-shadow, background-color;
  box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 0 0 0 transparent;

  &:active {
    transform: translateY(2px);
  }

  &:hover {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.03),
      0 0 0 2rem rgba(150, 150, 150, 0.09), 0 0 0 4rem rgba(94, 94, 94, 0.05);
  }

  &--venues {
    background-color: rgba(176, 36, 118, 0.2);

    &:hover {
      background-color: rgba(176, 36, 118, 0.5);
    }
  }

  &--artists {
    background-color: rgba(1, 103, 181, 0.2);

    &:hover {
      background-color: rgba(1, 103, 181, 0.5);
    }
  }
}
