@import "../../Utilities";


.about-desc{
    font-family: $font-main;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: $color-off-white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10rem;

}

// .about-h2{
    
//     font-family: $font-special;
//     font-weight: lighter;
    

// }