@import "../../Utilities";

.home-container {
  .about-text {
    color: $color-text-white;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    padding: 3rem 2rem;
    max-width: 65rem;
    margin: auto;

    .slogan {
      display: block;
      padding-top: 3rem;
      text-align: center;
      font-family: $font-special;
      font-size: 2.5rem;
      font-weight: 200;
    }
  }

  .home-button-container {
    max-width: 65rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0 6rem;
  }

  .home-map-container {
    width: 100%;
    padding: 2rem 0;

    .map-container {
      border-radius: 15px;
      opacity: 0.9;
      width: 100%;
      min-height: 50rem;
    }
  }
}
