@import "../../Utilities";

.login-wrapper {
  .login-page {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    .login-container {
      width: 80%;
      max-width: 50rem;
      min-height: 50rem;
      margin: auto;
      h1 {
        font-family: $font-special;
        font-size: clamp(3.5rem, 10vmin, 5rem);
        // padding: 1rem;
      }

      .date-confirm-text {
        font-size: 2rem;
      }
    }
  }
}

.login-container--confirmDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
