@import "../../Utilities";

.signup-page {
  padding: 2rem 0;
  position: relative;
  overflow: hidden;

  .signup-heading {
    font-family: $font-special;
    padding: 1rem 2rem 3rem;
    h2 {
      padding: 1rem;
      font-size: 4rem;
    }
    h2 {
      text-transform: lowercase;
    }
  }
  .arrow-wrapper {
    max-width: 65rem;
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .arrow-wrapper-top {
    padding: 0 2rem;
  }
}
