@import "../../Utilities";

.signup-container {
  font-family: $font-special;
  height: 500px;

  .userType-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    margin: 7rem auto;
    width: 100%;
    height: 100%;
  }

  .button-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 2rem auto;
  }
}
