@import "../../Utilities";

.signup-page {
  .signup-heading {
    font-family: $font-special;
    padding: 1rem 2rem 3rem;

    h1 {
      padding: 1rem;
      font-size: 4rem;
    }
    h2 {
      text-transform: lowercase;
    }
  }
  .arrow-container {
    font-size: 4rem;
    margin: auto;
    max-width: 60rem;
    display: flex;
    .arrow-back {
      padding: 1rem 0;
      transition: all 0.1s;

      &:hover {
        color: $color-venu-primary;
      }
    }
  }
}
