@import "../../Utilities.scss";
@import "../buttons/ButtonSecondary.scss";

.card-container {
  max-width: 55rem;
  min-width: 30rem;
  height: 45rem;
  padding: 2rem;
  margin: auto;
  background-color: rgba($color: #d9d9d9, $alpha: 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 2rem;
  flex-basis: 25%;

  .card-text-content {
    width: 100%;
    margin: auto;
    height: 45%;
    flex-grow: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    position: relative;
    padding-bottom: 2rem;

    .card-title {
      position: relative;
      padding-bottom: 0.5rem;
      font-size: 1.9rem;
      font-weight: bold;
    }
    .card-desc {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      font-weight: 200;
      font-size: 1.5rem;
    }
    .card-profile-button {
      position: absolute;
      bottom: -1rem;
      right: 0;
      justify-content: flex-end;
    }
  }

  .userImage-container {
    width: 100%;
    position: relative;

    .preview-userImage {
      object-fit: cover;
      flex-grow: 1;
      width: 100%;
      height: 20rem;
    }

    .preview-available-button--position {
      position: absolute;
      right: 2px;
      top: -4px;
    }

    .preview-date-icon {
      position: absolute;
      display: flex;
      bottom: 3px;
      left: 0;
      width: 4rem;
      height: 4rem;
      font-size: 2rem;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0.8;
      padding: 1rem;
      cursor: pointer;
      z-index: 10;

      &:hover > * {
        transform: scale(1.15);
      }

      &:active > * {
        transform: scale(1);
      }
    }

    .show-booked-dates {
      font-size: 1.4rem;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.84);
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: -100%;
      transition: all 0.3s;
      visibility: hidden;
      opacity: 0;

      ul {
        list-style-type: none;

        li {
          padding: 0.5rem;
        }
      }
    }

    .show-booked-active {
      top: 0;
      visibility: visible;
      opacity: 1;
    }
  }
}
