@import "../../Utilities.scss";

.styled-heading {
  //   margin: 2rem;
  height: 12rem;
  position: relative;

  .heading-svg {
    padding: 1rem;
    height: 10rem;
    margin: 2rem 0;
    position: absolute;
    width: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0 0 10px rgba(255, 127, 225, 0.4));

    text {
      font-family: $font-special;
      font-size: 11rem;
      fill: transparent;
    }
  }
}
