@import "../../../Utilities";

.required-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .label-thin {
    font-weight: 100;
    font-size: 1.4rem;
  }

  .required-flag {
    font-size: 1rem;
    font-weight: 100;
  }
}

.form-input-full {
  width: 100%;
  min-height: 10rem;
}

.input {
  font-size: 1.5rem;
  background-color: #d9d9d9;
  width: 100%;
  padding: 1.6rem 1rem;
  min-height: 5rem;
  margin: 0.5rem 0 2rem 0;
  border: none;

  &::placeholder {
    color: $color-text-placeholder;
    font-size: inherit;
    opacity: 1;
  }

  &::selection {
    background-color: #acacac;
  }

  &-error {
    outline-offset: 2px;
    outline: 2px solid #fa5c5c;
  }
}

.input-disabled {
  opacity: 0.5;
}

.edit-button {
  height: 4rem;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: 8px;
  border: 1px solid rgba($color: #fff, $alpha: 0.5);
  background-color: rgba($color: #000000, $alpha: 0.5);
  display: flex;
  align-items: center;
  transition: all 0.1s;

  &:hover {
    border: 1px solid rgba($color: #fff, $alpha: 0.8);
    background-color: rgba($color: #000000, $alpha: 0.8);
  }
  .edit-icon {
    margin-right: 0.5rem;
  }
  .edit-input {
    cursor: pointer;
    position: absolute;
    left: 0;
    opacity: 0;
  }
}

.reset-button {
  height: 4rem;
  justify-content: center;
  right: 0;
  cursor: pointer;
}

.textbox {
  font-size: 1.4rem;
  font-family: $font-main;
  background-color: #d9d9d9;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 0.7rem;
  margin: 1rem 0;
  resize: vertical;
  border: none;

  &::placeholder {
    color: $color-text-placeholder;
    opacity: 1;
  }
  &::selection {
    background-color: #afafaf;
  }
}

.textbox-group {
  label {
    display: inline-block;
    width: 100%;
    text-align: left;
  }
}

.textbox-group-contact {
  margin: 0 0 1rem 0;
  outline-offset: 2px;
}

.textbox-user-profile {
  height: 50vw;
  max-height: 30rem;
}

.dropdown {
  color: $color-text-placeholder;
}

.datepicker-group {
  position: relative;
  .datepicker-container {
    width: 100%;
  }
  .datepicker-input {
    cursor: pointer;
  }

  .datepicker-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-70%);
    opacity: 0.6;
    color: $color-text-black;
    font-size: 3rem;
    pointer-events: none;
  }
}

.image-uploader {
  height: 16rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  cursor: pointer;

  .cloud-icon {
    font-size: 5rem;
  }

  &-text {
    padding: 0.5rem;

    &--thin {
      font-size: 1.4rem;
      font-weight: 300;
      padding-bottom: 1rem;

      .size-descr {
        display: block;
        font-size: 1.1rem;
        font-weight: 200;
      }
    }
  }
}

.image-error {
  color: $color-profile-button--delete;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.preview-container {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-evenly;

  .preview {
    display: flex;
    border-radius: 2px;
    width: 10rem;
    height: 10rem;
    padding: 5px;
    margin: 1rem;
    border: 1px dashed #eaeaea;

    &--inner {
      display: flex;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #000;
        opacity: 0.6;
      }

      .preview-remove-icon {
        font-size: 2rem;
        color: #fff;
        position: absolute;
        right: 0;
        cursor: pointer;
        z-index: 1;

        &:hover {
          color: red;
        }

        .icon {
          position: relative;
          z-index: -1;
        }
      }

      img {
        display: block;
        width: auto;
        height: 100%;
      }
    }
  }
}

.error {
  position: relative;
  color: #fc8181;
  text-align: left;
  font-size: 1rem;
  width: 100%;
  padding: 0;
  bottom: 1rem;
}
.tip {
  color: $color-text-placeholder;
}

.input--contact {
  height: 5rem;
  margin-bottom: 1.5rem;
  // margin: 0.5rem 0;
}
