@import "../../_Utilities.scss";

.searchbar {
  max-width: $container-max-width-lg;
  width: 90%;
  margin: auto;
  padding: 2rem 0;

  &--input {
    width: 100%;
    border: none;
    padding: 2rem;
    z-index: 1;
    font-size: 1.6rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
  .input-focus-venues {
    &:focus {
      outline: 2px solid $color-venu-primary;
      outline-offset: 2px;
    }
  }
  .input-focus-artists {
    &:focus {
      outline: 2px solid $color-artist-primary;
      outline-offset: 2px;
    }
  }

  .dropdown-group {
    width: 100%;
    margin: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .search-input-zipcode::placeholder {
      color: $color-text-placeholder;
      opacity: 1;
    }

    .search-btn-group {
      flex-grow: 4;
      flex-basis: 100%;

      @include respond(medium) {
        flex-basis: auto;
      }
    }

    .autocomplete-input {
      font-size: inherit;
      &::placeholder {
        color: $color-text-placeholder;
        opacity: 1;
      }
    }
    .geoapify-autocomplete-items  {
      width: 100%;
      flex-grow: 1;
    }
    .geoapify-close-button {
      display: none;
    }
  }
}
