@import "../../_Utilities.scss";

.contact-form {
	text-align: center;              
}

.form-header {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: white;
}

form > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem;
}
form > div > label {
	margin: 1rem;
}
form > div > input,
form > div > textarea {
	padding: 0.5rem;
	min-width: 30rem;
	font-family: $font-main;
    border-radius: 5px;
}

