.navbar{
    height: 68px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color-2);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
    .logo{
       margin-left: .7em;
    }
    .nav-links{
        a{
            margin-left: 1em;
            // color: var(--text-light);
            color: var(--text-color-2);
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            font-size: .9em;
            margin-right: .7em;
            &::before{
                content: '';
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);
                transition: getAnimationDuration(.2s) ease-in-out;
            }
            &:hover{
                &::before{
                    transform: scaleX(1);
                }
            }
            &.active{
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }
}