@import "../../_Utilities.scss";

.navbar {
  height: 8rem;
  background-color: rgba(20, 20, 20, 0.701);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 3vw;
  transition: all 0.7s;
  box-shadow: 0 0 20px #000;

  .logo {
    margin-left: 1rem;
    font-family: $font-special;
    color: $color-text-white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    span {
      padding-left: 1rem;
    }
  }
  .logo-active {
    filter: blur(2px);
  }
  .nav-links {
    display: none;
    a {
      position: relative;
      width: 8rem;
      margin-left: 1rem;
      color: $color-text-white;
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 300;
      margin-right: 0.7em;

      .nav-links--underline {
        display: inline-block;
        left: 0;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: $color-venu-primary;
        bottom: -5px;
        transform: scaleX(0);
        transition: all 0.3s 0.2s;
      }

      .nav-links--artists {
        background-color: $color-artist-primary;
      }
      &:hover .nav-links--underline {
        transform: scaleX(1);
      }
      &.active {
        // color: $color-venu-primary;
        font-weight: 1000;
      }
    }
    @include respond(medium) {
      display: flex;
    }
  }
  .sidebar-btn {
    height: 2.8rem;
    width: 3rem;
    position: relative;
    margin-right: 1rem;
    z-index: 100;
    cursor: pointer;

    @include respond(medium) {
      display: none;
    }

    .bar {
      border-radius: 4px;
      height: 4px;
      width: 110%;
      background-color: $color-off-white;
      position: absolute;
      transform-origin: right;
      transition: transform 0.5s ease-in-out;

      &:nth-child(2) {
        top: 50%;
        transform: scaleX(1) translateY(-50%);
        transform-origin: center;
      }
      &:nth-child(3) {
        top: 100%;
        transform: scaleX(1) translate(0, -100%) rotate(0);
      }
    }
    &.active {
      .bar {
        &:nth-child(1) {
          transform: translate(0, 50%) scale(1) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: scaleX(0) translateY(-50%);
          transition: transform 0.2s;
        }
        &:nth-child(3) {
          transform: translate(0, -50%) scale(1) rotate(45deg);
        }
      }
    }
  }
}

.navbar--artists {
  transition: all 1s;
  box-shadow: 0 0 30px rgba($color: #0168b5, $alpha: 0.35);
}
.navbar--venues {
  transition: all 1s;
  box-shadow: 0 0 30px rgba($color: #b02476, $alpha: 0.35);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  padding-top: 8rem;
  transform: translateY(-100%);
  visibility: hidden;

  user-select: none;
  background: linear-gradient(0deg, #220717d5, #00121fe6);
  transition: all 0.7s ease;

  .sidebar-link {
    display: block;
    position: relative;
    letter-spacing: 1rem;
    padding: 2rem 0;
    width: 20rem;
    margin: auto;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1em;
    font-size: 1.6em;

    &::before {
      content: "";
      left: 0;
      z-index: 100;
      height: 3px;
      width: 100%;
      background-color: $color-venu-primary;
      position: absolute;
      bottom: -5px;
      transform: scaleX(0);
      transition: all 0.2s 0.2s;
    }
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
    &.active {
      color: $color-venu-primary;
      font-weight: bold;
    }
  }
}
