@import "../../_Utilities.scss";

.navbar {
  height: 8rem;
  background-color: rgba($color: #111, $alpha: 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 3vw;
  transition: all 0.7s;
  box-shadow: 0 1px 30px rgba($color: #000, $alpha: 0.4);

  .logo {
    // margin-left: 1rem;
    font-family: $font-special;
    color: $color-text-white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    span {
      padding-left: 1rem;
    }
  }
  .logo-active {
    filter: blur(2px);
  }
  .nav-links {
    display: none;

    .navbar-link {
      position: relative;
      color: $color-text-white;
      letter-spacing: 2px;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 300;

      .nav-links--underline {
        display: inline-block;
        left: 0;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: $color-venu-primary;
        bottom: -5px;
        transform: scaleX(0);
        transition: all 0.3s 0.2s;
      }

      .nav-links--artists {
        background-color: $color-artist-primary;
      }
      &:hover .nav-links--underline {
        transform: scaleX(1);
      }
      &.active {
        // color: $color-venu-primary;
        font-weight: 1000;
      }
    }
    @include respond(medium) {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }
  .sidebar-btn {
    height: 2.8rem;
    width: 3rem;
    position: relative;
    margin-right: 1rem;
    z-index: 100;
    cursor: pointer;

    @include respond(medium) {
      display: none;
    }

    .bar {
      border-radius: 4px;
      height: 4px;
      width: 110%;
      background-color: $color-off-white;
      position: absolute;
      transform-origin: right;
      transition: transform 0.3s ease-in-out;

      &:nth-child(2) {
        top: 50%;
        transform: scaleX(1) translateY(-50%);
        transform-origin: center;
      }
      &:nth-child(3) {
        top: 100%;
        transform: scaleX(1) translate(0, -100%) rotate(0);
      }
    }
    &.active {
      .bar {
        &:nth-child(1) {
          transform: translate(0, 50%) scale(1) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: scaleX(0) translateY(-50%);
          transition: transform 0.1s;
        }
        &:nth-child(3) {
          transform: translate(0, -50%) scale(1) rotate(45deg);
        }
      }
    }
  }
}

.navbar--artists {
  transition: all 1s;
  box-shadow: 0 1px 30px rgba($color: #0168b5, $alpha: 0.35);
}
.navbar--venues {
  transition: all 1s;
  box-shadow: 0 1px 30px rgba($color: #b02476, $alpha: 0.35);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  padding: 8rem 0 8rem 0;
  transform: translateY(-100%);
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  user-select: none;
  background: linear-gradient(0deg, #220717d5, #00121fe6);
  transition: all 0.5s;

  @include respond(small-height-landscape) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .sidebar-link {
    flex-grow: 1;
    display: block;
    flex-basis: 25vw;
    position: relative;
    letter-spacing: 1rem;
    margin: auto;
    text-transform: uppercase;
    font-weight: 500;
    font-size: clamp(2rem, 5vh, 3rem);

    &.active {
      color: $color-venu-primary;
      font-weight: bold;
    }
  }
}

.navbar-dropdown {
  position: relative;
  width: 10rem;

  .dropdown-link {
    width: 50% !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: filter 0.2s;

    .icon {
      font-size: 1.6rem;
      display: flex;
      transition: transform 0.2s linear;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 0%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
    padding: 1rem 0;
    list-style: none;
    background: linear-gradient(
      0deg,
      #111 0%,
      rgba($color: #111, $alpha: 0.6) 60%,
      rgba(17, 17, 17, 0) 100%
    );

    li {
      padding: 1.5rem 0;
    }
  }
}
