@import "../../Utilities";

.main-footer {
  background-color: rgba(20, 20, 20, 0.701);
  position: absolute;
  height: 8rem;
  width: 100%;
  padding-inline: 3vw;

  .footer-content {
    color: rgba(255, 255, 255, 0.273);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
  }
}
