@import "../../_Utilities.scss";

.searchBar {
    width: 50%;
    height: 40px;
    border-radius: 20px;
    border: "1px solid #ccc";
    padding: 0 20px;
    z-index: 1;
    position: relative;
    margin-top: 20px;
    font-size: 1.5rem;
}