@import "../../_Utilities.scss";

.required-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  .label-thin {
    font-weight: 100;
    font-size: 1.3rem;
  }

  .required-flag {
    font-size: 1rem;
    font-weight: 100;
  }
}

.input {
  background-color: #d9d9d9;
  width: 100%;
  padding: 0.8rem 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: none;
  outline-offset: 2px;
  position: relative;

  &:focus {
    outline: 2px solid $color-artist-primary;
  }

  &::placeholder {
    font-size: 1.1rem;
    color: $color-text-placeholder;
    opacity: 1;
  }

  &-error {
    outline: 2px solid #fa5c5c;
  }
}

.textbox {
  background-color: #d9d9d9;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 0.7rem;
  border-radius: 5px;
  resize: vertical;
  border: none;

  &::placeholder {
    font-size: 1.1rem;
    font-family: $font-main;
    color: $color-text-placeholder;
    opacity: 1;
  }
}

.dropdown {
  font-size: 1.1rem;
  color: $color-text-placeholder;
}

.datepicker-group {
  .datepicker-container {
    width: 100%;
  }
  .datepicker-input {
    cursor: pointer;
    font-size: 1.1rem;
  }

  .datepicker-icon {
    position: absolute;
    right: 1rem;
    opacity: 0.6;
    color: $color-text-black;
    font-size: 3rem;
    pointer-events: none;
  }
}

.error {
  color: #fc8181;
  text-align: left;
  font-size: 1rem;
  width: 100%;
  padding: 0;
  bottom: -1rem;
}
