@import "../../_Utilities.scss";

.required-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;

  .label-thin {
    font-weight: 100;
    font-size: 1.3rem;
  }

  .required-flag {
    font-size: 1rem;
    font-weight: 100;
  }
}

.input {
  background-color: #d9d9d9;
  width: 100%;
  padding: 0.8rem 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: none;

  &::placeholder {
    font-size: 1.1rem;
    color: $color-text-placeholder;
    opacity: 1;
  }
}

.textbox {
  background-color: #d9d9d9;
  width: 100%;
  min-height: 10rem;
  padding: 1rem 0.7rem;
  border-radius: 5px;
  resize: vertical;
  border: none;

  &::placeholder {
    font-size: 1.1rem;
    font-family: $font-main;
    color: $color-text-placeholder;
    opacity: 1;
  }
}

.dropdown {
  font-size: 1.1rem;
  color: $color-text-placeholder;
}

.datepicker-group {
  .datepicker-container {
    width: 100%;
    position: relative;
  }
  .datepicker-input {
    cursor: pointer;
  }

  .datepicker-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
    color: $color-text-black;
    font-size: 3rem;
    pointer-events: none;
  }
}
