@import "./Utilities";

.wrapper {
  text-align: center;
  background-color: #000;
  width: 100vw;
  color: $color-text-white;

  
  

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(./img/background.jpg) no-repeat left center/cover;
    background-attachment: fixed;
    opacity: 0.9;
    filter: grayscale(1);
    z-index: 0;
  }

  & * {
    position: relative;
    z-index: 1;
  }
}
