@import "./Utilities";

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: $font-main;
  background-color: $color-bg-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}

// -----------------------------------------------------------------------------------------------

// @function getAnimationDuration($duration: number) {
// 	@return calc($duration * var(1));
// }

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// body {
// 	font-size: 16px;
// 	font-family: "Roboto", sans-serif;
// 	padding-top: 55px;
// 	background-color: #fff;
// }
// a {
// 	text-decoration: none;
// }

// @import "./components/navbar/_Navbar";

// @media screen and (max-width: 1280px) {
// 	.container {
// 		padding-inline: 18vw;
// 	}
// }
// @media screen and (max-width: 1050px) {
// 	.container {
// 		padding-inline: 12vw;
// 	}
// }
// @media screen and (max-width: 768px) {
// 	.navbar {
// 		.nav-links {
// 			display: none;
// 		}
// 		.sidebar-btn {
// 			display: block;
// 		}
// 	}
// }
// @media screen and (max-width: 480px) {
// 	.container {
// 		padding-inline: 3vw;
// 	}
// }

// -----------------------------------------------------------------------------------------------

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

// body {
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
//     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
//     sans-serif;

//   font-size: 1.6rem;
//   height: 100vh;
//   width: 100vw;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }

// a {
//   color: inherit;
// }
