@import "../../Utilities";
@import "../forms/formInputs/FormInputs";

.user-profile-container {
  width: 100vw;
  max-width: 90rem;
  margin: 4rem auto;
  background-color: rgba(17, 17, 17, 0.8);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow: hidden;

  h3 {
    font-size: 3.5rem;
    margin: 1rem 0;
    font-weight: 500;
  }

  .padding-group {
    padding: 4rem;
  }

  .edit-profile-btn {
    position: absolute;
    z-index: 10;
    left: 0;
    top: -1.5rem;
    border: 1px solid;
    padding: 0.5rem 1.5rem;
  }

  .user-profile-image-container {
    position: relative;

    .user-profile-image {
      width: 100%;

      height: 30rem;
      object-fit: cover;
      display: none;
      position: relative;
      opacity: 0.8 !important;
    }

    .available-button--position {
      position: absolute;
      z-index: 10;
      right: 0;
      bottom: -0.5rem;
    }
  }

  .user-heading {
    h2 {
      text-align: center;
      width: fit-content;
      font-size: clamp(3rem, 2vw, 4rem);
      margin: 2rem auto;
      width: 95%;
    }
  }
  .user-description-group {
    text-align: left;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.6;
    white-space: pre-line;

    .genre {
      // font-size: 2rem;
      margin: 2rem 0;

      .bold {
        font-weight: 600;
      }
    }
    .description {
      text-align: left;
    }
  }

  .social-media-group {
    max-width: 65rem;
    font-size: 3rem;
    display: flex;
    margin: 4rem auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .icon {
      display: flex;
      cursor: pointer;
    }

    .facebook-icon {
      color: #4267b2;

      &:hover {
        color: darken($color: #4267b2, $amount: 10);
      }
    }
    .instagram-icon {
      font-size: 2.6rem;
      background: radial-gradient(
        circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%
      );

      &:hover {
        filter: brightness(80%);
      }
    }
    .twitter-icon {
      color: #00acee;

      &:hover {
        color: darken($color: #00acee, $amount: 10);
      }
    }
    .youtube-icon {
      color: #ff0000;

      &:hover {
        color: darken($color: #ff0000, $amount: 10);
      }
    }

    .website-icon {
      font-size: 2.5rem;
      color: rgba(255, 255, 255, 0.372);

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .image-gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include respond(landscape) {
      flex-direction: row;
      height: 25rem;
      gap: 0;
    }

    .image-gallery--image {
      object-fit: cover;
      width: 100%;
      height: 18rem;

      @include respond(landscape) {
        height: 100%;
      }
    }
  }

  .dates-group {
    padding: 4rem 0;
    position: relative;

    .calendar {
      margin: 2rem auto 0 auto;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: none;

      @include respond(landscape) {
        transform: scale(1.29);
        margin: 5rem auto 0 auto;
      }

      .rmdp-month-picker,
      .rmdp-year-picker {
        background-color: #1a1a1a;
      }

      span {
        color: white;
        box-shadow: none;
      }
    }

    .date-subheading {
      text-transform: lowercase;
      width: fit-content;
      left: 50%;
      padding: 0 1rem;
      transform: translateX(-50%);
      bottom: 0;
      position: absolute;
      display: flex;
      justify-content: center;
      background-color: rgba($color: #000000, $alpha: 0.5);
      opacity: 0.6;
      border-radius: 10rem;
      font-size: 1.8rem;
      @include respond(landscape) {
        bottom: -10px;
      }

      .red {
        color: $color-profile-button--delete;
      }
      .blue {
        color: #0074d9;
      }
    }
  }

  .flex-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .booked-dates-group {
    padding-bottom: 0;

    h3 {
      padding-bottom: 2rem;
    }

    ul {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      list-style-type: none;
      gap: 2rem;
    }

    .booked-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 2rem;
      max-width: 28rem;
      flex: 1 1 100%;
      border-radius: 10px;
      box-shadow: 0 0 10px #060606;
      background-color: rgba($color: #fff, $alpha: 0.11);

      .link-to-profile--venues {
        color: $color-artist-primary;

        &:hover {
          color: lighten($color-artist-primary, $amount: 10);
        }
      }

      .link-to-profile--artists {
        color: $color-venu-primary;

        &:hover {
          color: lighten($color-venu-primary, $amount: 10);
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        list-style-type: circle;
      }
    }
  }

  .members-group {
    .member-count {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 6rem;

      .members-icon {
        margin-left: 1rem;
        opacity: 0.2;
      }
    }
  }

  .location-group {
    width: 100%;

    .location-address {
      padding: 0 2rem;
      font-weight: 300;
      font-size: clamp(1.6rem, 5vw, 2.2rem);
      font-family: $font-special;
      text-transform: lowercase;
    }

    .map-container {
      opacity: 0.9;
      width: 100%;
      height: 20rem;
      margin-bottom: 2rem;
    }
  }

  .contact-group {
    border-radius: inherit;
    width: 100%;
    max-width: 65rem;
    margin-bottom: 2rem;

    .input-row {
      // height: 15rem;
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      @include respond(landscape) {
        flex-wrap: nowrap;
        gap: 2rem;
      }
    }
  }
}
