.preview-image-wrapper {
  display: flex;
  display: block !important;
  background-size: cover !important;
  background-position: center;
  width: 100%;
}
.image-gallery-lazy-wrapper {
  width: 100%;
}
